<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/mobil.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanoshii High Schoo</title>
</head>
<body>
    <div class="container">
        <div class="for_header">
            <div class="header">
                <div class="header_block header_block_near"><div class="header_block1"></div></div>
                <div class="header_block "><div class="header_block2"></div></div>
                <div class="header_block"><div class="header_block3"></div></div>
                <div class="header_block header_block_near_2"><div class="header_block4"></div></div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="main_menu">
            <div class="greeting">
                <div class="main_menu_title">Welcome <br> on our discord</div>
                <div class="for_btn">
                    <div href="https://discord.gg/59ebzKN6" class="main_menu_button" id="mybutton">
                        <div class="main_menu_button_text">
                            Join

                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_menu_logotype">
                <div class="discord">
                    <iframe src="https://discord.com/widget?id=937442456960663582&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
            </div>


        </div>
    </div>
    <div class="container">
        <div class="bot">
            <div class="cost"></div>
            <div class="bot_cont">
                <div class="bot_block bot_block_admin">
                    <div class="bot_block_place_title bot_block_place_title_admin">
                        <div class="bot_block_title">Admin</div>
                    </div>
                    <div class="bot_block_bg ">
                        <div class="bot_block_bg_text bot_block_bg_text_admin">swipexe</div>
                    </div>
                    <div class="bot_block_place_text">
                        <div class="bot_block_text"></div>
                    </div>
    
                </div>
                <div class="bot_block bot_block_generalModer">
                    <div class="bot_block_place_title bot_block_place_title_generalModer">
                        <div class="bot_block_title">Gmoder</div>
                    </div>
                    <div class="bot_block_bg">
                        <div class="bot_block_bg_text">Ta1l</div>
                    </div>
                    <div class="bot_block_place_text">
                        <div class="bot_block_text"></div>
                    </div>
    
                </div>
            </div>
            <div class="bot_cont">
                <div class="bot_block bot_block_moder_1">
                    <div class="bot_block_place_title bot_block_place_title_moder">
                        <div class="bot_block_title">Moder</div>
                    </div>
                    <div class="bot_block_bg">
                        <div class="bot_block_bg_text">NIKTO</div>
                    </div>
                    <div class="bot_block_place_text">
                        <div class="bot_block_text"></div>
                    </div>
    
                </div>
                <div class="bot_block bot_block_moder_2">
                    <div class="bot_block_place_title bot_block_place_title_moder">
                        <div class="bot_block_title">Moder</div>
                    </div>
                    <div class="bot_block_bg">
                        <div class="bot_block_bg_text">dward</div>
                    </div>
                    <div class="bot_block_place_text">
                        <div class="bot_block_text"></div>
                    </div>
    
                </div>

            </div>


        </div>
    </div>
    <div class="container">
        <div class="we">
            <div class="we_header">
                <div class="we_title">About us <div class="sus">.</div><div class="sus1">.</div><div class="sus2">.</div></div>
            </div>
            <div class="we_body">
                <div class="we_body_text">
                    Всем Kon'nichiwa! Добро пожаловать на проект Tanoshii High School! Наш развивающийся Discord-сервер ставит основной целью поиск новых друзей, напарника для многопользовательских игр и просто прекрасного времяпрепровождения с новыми знакомыми.  <br> Наш преподавательский состав поможет вам почувствовать себя как дома, а кофемашины развлекут своими способностями シ. <br> Мы надеемся, что вы останетесь тут надолго, заведёте новых друзей и хорошо проведёте время!!           
                </div>
            </div>

        </div>
        <div class="we_line">

        </div>
        
    </div>



</body>
</html>